<!-- chat/templates/chat/chat.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        let wsStart = 'ws://'
        if (window.location.protocol === "https:") {
            wsStart = 'wss://'
        }
        let endPoint = wsStart + window.location.host + "/messages/" + roomName;
        console.log(endPoint);
        const socket = new WebSocket(endPoint);

        socket.onopen = function (e) {
            console.log("fetching messages..");
            socket.send(JSON.stringify({
                'start': 0,
                'end': 19,
                'command': "fetch_messages"
            }));
        }
        /* socket.onclose = function (e) {

        }
        socket.onmessage = function (e) {

        }
        socket.onerror = function (e) {

        } */

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            //
            // if (data.message !== {}) {
            //    console.log(data.message);
             // }
            // if (data.messages !== []) {
            //    data.messages.forEach((item, index) => console.log(item));
            // }
            // console.log();
        };

        socket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const content = messageInputDom.value.toString();
            socket.send(JSON.stringify({
                'command': "new_message",
                'message': {'content': content}
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
